//variables
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;


//functions

//mixins

@mixin flexmid{
    display: flex;
    align-items: center;
}

@mixin textstyle{
    text-decoration: none;
    list-style: none;
}

@mixin articlestyle {
    width: 95%;
    height: 15em;
    margin: 0.8em 0em 0.8em 0em;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 13px grey;
}

@mixin picsstyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//font family 
@font-face{                                                    
    font-family: "Roboto-Regular"; 
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face{ 
    font-family: "Roboto-Bold";
    src: url("fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face{                                                    
    font-family: "Roboto-Light"; 
    src: url("Roboto-Light.ttf") format("truetype");
}
@font-face{ 
    font-family: "Shrikhand";
    src: url("fonts/Shrikhand-Regular.ttf") format("truetype");
}

//body 

body{
    font-family: 'Roboto-Regular';
    margin: 0px;
    padding: 0px;
    border: 0px;
}

//btn

.btn{
    border-radius: 40px;
    width: 16em;
    height: 4em;
    border: none;
    background: linear-gradient(to top, #e06fda, 20%, #aa5ddc);

    &__text{
        font-size: 1.2em;
        color: white;
    }
}

//header

.logo{
    width: 100%;
    &__main-title{
        text-align: center;
        font-family: 'shrikhand-regular';
        font-style: italic;
        font-weight: 900;
    }
}

//location

.location{
    @extend .logo;
    background-color: #F3F3F3;
    text-align: center;
    padding-bottom: 2em;
    
    &__label{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #cfcfcf;
        box-shadow: 0px 0px 5px 0px gray;

        .inputplace{
            background-color: #cfcfcf;
            text-align: center;
            border: none;
            width: 80%;
            height: 4em;
            margin-left: 10px;

            .marker{
                font-size: 6em;
            }
        }
    }
}

.loctext{
    @include flexmid;
    flex-direction: column;
    text-align: center;

    &__h1title{
        font-size: 1.5em;
        margin: 1em 2em 2em 1em;
        
        &__ptitle{
            font-size: 1.5em;
            margin: 1em 1.5em 1.5em 1em;
        }
    }
}


//Fonctionnement

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;

    .selector{
        @include flexmid;

        &__btn{
            border: none;
            width: 20em;
            height: 4.8em;
            border-radius: 30px;
            margin-bottom: 2em;
            font-size: 1em;
            box-shadow: 0px 2px 13px grey;
            font-weight: bolder;
        }
    }
}

.restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;

    &__element{
        @include articlestyle;
        @include textstyle;

        .link{
            text-decoration: none;
        }
    }
}


.pics-rest{
    width: 100%;
    height: 70%;
    overflow: hidden;
       
        &__element{
            @include picsstyle
        }
}


.art-text{
    width: 100%;
    height: 30%;
    margin: 0em;
    line-height: 0.6em;
}

.restname{
    color:black;
    margin-left: 1em;
}
.restname2{
    color: black;
    margin-left: 1.2em;
}

//footer

footer{
    background-color: #353535;
    padding: 2px 0px 19px 0px;

    ul{
        list-style: none;
        text-decoration: none;
        
        li{
            text-decoration: none;
            list-style-type: none;
            color: white;

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

.h1footer{
    font-family: 'Shrikhand-Regular';
    font-size: 1.5em;
    color: white;
    font-weight: 900;
    margin-left: 1.6em;
}


//Restaurant Header

.rest_header{
    display: flex;
    height: 4em;
    margin: 0em;
    justify-content: flex-start;

    &__backarrow{
        margin-top: 0.5em;
        font-size: 2em;
        margin-left: 0.6em;
        color: black;
    }
}

.main-title{
    font-family: 'shrikhand-regular';
    margin-left: 2.5em;
    margin-top: 0.5em;
    font-weight: 900;
    font-style: italic;
}

.picsrest{
    width: 100%;
    object-fit: cover;
}

//Selection Part

.selection{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px 0px 5px 0px gray;

    &__contein{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}


.choice{
    width: 95%;
    box-shadow: 0px 0px 4px 0px;
    border-radius: 20px;
    margin-bottom: 0.5em;
}

