//////////Responsive

//Responsive vertical Tablet

@media all and (max-width: 767px) and (min-width: 415px){



    .restaurant__element{
        width: 24em;
        height: 18em;
    }

    .pics-rest__new{
        top: -12em;
    }




}
@media all and (max-width: 1023px) and (min-width: 768px){

    //Restaurants Welcome
    .h1title{
    text-align: center;
    }
    
    .restaurant__element{
        width: 60%;
    }
    
    .restname{
        font-size: 1.2em;
        margin-top: 0.8em;
        margin-left: 0.8em;
    }
    
    .restname2{
        font-size: 1.1em;
        margin-top: 1.2em;
    }

    .art-text__element2{
        margin-right: 0em;
    }
    

    
    //Restaurants Page
    .choice{
        width: 70%;
    }
    
    .h2-restaurants{
        text-align: center;
    }
    
    .choice{
        line-height: 1.2em;
    }
    .selection__title{
        font-size: 1.3em;
    }
    
    .text{
        width: 80%;
    }
    
    .text__h2{
        font-size: 1.2em;
    }
    
    .text__p{
        font-size: 1.1em;
    }
    
    .price{
        font-size: 1.2em;
    }
    
    .check{
        width: 15%;
    }

    .fa-heart_full--margin2{
    left: 23%;
    bottom: 0.70em;
}
    
    //Footer Vertical tablet
    .h1footer{
        text-align: center;
        font-style: italic;
    }
    
    footer li{
        text-align: center;
        font-size: 1em;
    }
    }
    
    //Responsive Landscape Tablet
    
    @media all and (max-width: 1024px) and (min-width: 899px){
    //Restaurant Welcome
    .h1title{
    text-align: center;
    }
    
    .restaurant__element{
        width: 40%;
        height: 20em;
        margin-bottom: 2em;
    }
    
    .eatery{
        justify-content: space-around;
    }
    
    .restname{
        margin-top: 0.5em;
        margin-left: 1em;
        font-size: 1.2em;
        line-height: 1.2em;
    }
    
    .restname2{
        font-size: 1.1em;
        margin-left: 1.1em;
    }
    
    .art-text__element2{
        display: flex;
        justify-content: center;
        margin-top: 0.8em;
        margin-left: -2.5em;
    }    
    
    .pics-rest__new{
        top: -13.6em;
    
    }


    .fa-heart_full--margin2{
        left: 25%;
        bottom: 0.7em;
    }
    
    .art-text__element2{
        margin-right: 0.5em;
    }
    //Restaurant Page
    
    .choice{
        width: 40em;
    }
    
    .h2-restaurants{
        text-align: center;
    }
    
    .choice{
        line-height: 1.2em;
    }
    .selection__title{
        font-size: 1.3em;
    }
    
    .text{
        width: 80%;
    }
    
    .text__h2{
        font-size: 1.2em;
    }
    
    .text__p{
        font-size: 1em;
        margin-left: 0.2em;
    }
    
    .price{
        font-size: 1.2em;
        margin-top: 0.5em;
        width: 25%;
    }

    .check{
        width: 13%;
    }
    
    .fa-heart__box{
        left: 2em;
    }
    //Footer Tablette
    
    .h1footer{
        text-align: center;
        font-style: italic;
    }
    
    footer li{
        text-align: center;
        font-size: 1em;
    }
    }
    
    @media screen and (max-width: 1280px) and (min-width: 1025px){
    //Restaurants Welcome
    .rest_header{
        height: 8em;
    }
    
    .rest_header__backarrow{
        font-size: 2em;
        align-self: center;
        margin-top: 0em;
    }
    
    .logo-main__h1{
        font-size: 3em;
    }
    
    .h1title{
        text-align: center;
    }

    .conteiner__element{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .eatery{
        justify-content: space-around;
    }
    
    .restaurant__element{
        width: 35%;
        height: 20em;
        margin-bottom: 2em;
    }
    
    
    .art-text__element{
        margin-top: 0em;
    }

    .restname{
        margin-top: 0.4em;
        margin-left: 1em;
        font-size: 1.2em;
        line-height: 1.2em;
    }
    
    .restname2{
        font-size: 1.2em;
        margin-left: 1em;
    }
    
    .art-text__element2{
        display: flex;
        justify-content: center;
        margin-top: 0.8em;

    } 
    
    .pics-rest__new{
        top: -13.6em;
    }

    
    //Restaurants Page

    .selection__wrap{
        justify-content: center;
        align-items: center;
    }

    .selection__contein{
        width: 33%;
        justify-content: space-around;
        margin-right: 6em;
    }
    .choice{
        height: 4.5em;
        width: 100%;
    }
    

    .h2-restaurants{
        font-size: 1.2em;
        align-self: center;
    }
    
    
    .choice{
        line-height: none;
    }
    .selection__title{
        font-size: 1.3em;
    }
    
    .fa-heart_full--margin2{
        left: 24%;
        bottom: 0.72em;
    }

    .text__h2{
        font-size: 1.2em;
        margin-top: 0.5em;
        margin-bottom: 0.3em;
        margin-left: 0.3em;
    }
    
    .text__p{
        font-size: 1.1em;
        margin-left: 0.3em;
    }
    
    .price{
        font-size: 1.2em;
        margin-top: 0.4em;
    }
    
    .h1footer{
        text-align: center;
    }
    
    //Footer Little Screen
    .h1footer{
        font-style: italic;
    }
    
    footer ul{
        text-align: center;
    }
    footer li{
        font-size: 1.2em;
    }
    }
    
    @media screen and (max-width: 1920px) and (min-width: 1281px){
    
    //Restaurants Welcome Desktop
    .rest_header{
        height: 5em;
    }
    
    .rest_header__backarrow{
        font-size: 1.6em;
        align-self: center;
        margin-top: 0em;
    }
    
    .logo-main__h1{
        font-size: 2em;
    }
    
    .h1title{
        text-align: center;
    }
    
    .restaurant__element{
        width: 33%;
        height: 20em;
        margin-bottom: 2em;
        margin-right: 1.2em;
    }

    .conteiner__element{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .pics-rest__new{
        top: -13.6em;
    }
    
    .eatery{
        justify-content: space-around;
    }
    
    .art-text__element{
        margin-top: 0em;
    }
    .restname{
        margin-top: 0.9em;
        margin-left: 1em;
        font-size: 1.2em;
        line-height: 1.2em;
    }
    
    .restname2{
        font-size: 1.1em;
        margin-left: 1.1em;
    }
    
    .art-text__element2{
        height: 100%;
        width: 20%;
        font-size: 2em;
        margin-top: 0.8em;
        margin-left: -3.2em;
        margin-right: 0em;
        color: black;
    }

    .fa-heart__box{
        margin-right: 0em;
    }
    
    .check{
        width: 20%;
    }

    //Restaurants Page Desktop
    .selection{
        font-size: 0.6em;
    }

    .selection__wrap{
        justify-content: center;
        align-items: center;
    }

    .selection__contein{
        width: 33%;
        justify-content: space-around;
        margin-right: 6em;
    }
    .choice{
        height: 6em;
        width: 48em;
    }
    
    .h2-restaurants{
        text-align: center;
        font-size: 1.6em;
    }
    
    .selection__title{
        font-size: 2em;
    }
    
    .fa-heart_full--margin2{
        left: 22%;
        bottom: 0.78em;
    }
    
    .fa-heart__box{
        left: 3em;
    }
    .text{
        width: 80%;
    }

    .h2-restaurants{
        align-self: center;
    }
    
    .text__h2{
        font-size: 1.6em;
        margin-top: 0.4em;
        margin-bottom: 0.5em;
        margin-left: 0.3em;
    }
    
    .text__p{
        font-size: 1.3em;
        margin-left: 0.5em;
    }
    
    .price{
        font-size: 1.3em;
        width: 22%;
    }

    .check i{
        font-size: 0.9em;
        padding: 0.16em;
    }
    
    //Footer Desktop
    .h1footer{
        text-align: center;
        font-style: italic;
    }
    
    footer li{
        text-align: center;
        font-size: 1em;
    }
    }